@import 'tailwindcss';

:root {
    --main-color: #098FD7;
    --secondary-color: #027bbd;
    --intense-color: #100833
}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


.custom-page-title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5rem;
}

@media (min-width: 640px) {
    .custom-page-title {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .custom-page-title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}