.swiper {
  width: 100%;
  height: 100%;
}

.swiper-w {
  position: relative;
  width: 100%;
  max-width: 1296px;
  height: 100%;
  min-height: 400px;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 40px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #bde3e8; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  text-align: right;
  bottom: 80px !important;
  padding-right: 24px !important;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 8px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #efeafd;
  border-radius: 10px;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: linear-gradient(135deg, #098FD7 0%, #40d4f7 50%, #027bbd 100%);
  box-shadow: 0 2px 8px rgba(9, 143, 215, 0.4);
}

.slide-text {
  position: relative;
  z-index: 1;
  text-align: left;
}
.slide-text:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: -120px;
  background-color: #fff;
  transform: skewX(340deg);
  border-radius: 8px;
  width: 250px;
  z-index: -1;
}
.slide-img {
  border-radius: 4px !important;
  overflow: hidden !important;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .text-[#602BE9] {
  color: rgb(96 43 233 / 1);
} */

@media (max-width: 480px) {
  .swiper-pagination {
    bottom: 0 !important;
  }
}

@media (max-width: 1400px) {
  .swiper-w {
    width: 96%;
    max-width: 96%;
  }
}
